---
export interface Props {
  title: string;
  metaDescription?: string;
}

const { title, metaDescription } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/png" href="public/logos/logo-clear.png" />
    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={metaDescription} />
    <meta property="og:image" content="/preview.png" />
    <meta property="og:url" content="https://www.grupchat.info/" />
    <!-- Twitter -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content={title} />
    <meta name="twitter:description" content={metaDescription} />
    <meta name="twitter:image" content="/preview.png" />

    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700|Noto+Sans:300,400,500,600,700,800|PT+Mono:300,400,500,600,700"
      rel="stylesheet"
    />
    <title>{title}</title>
    <meta name="description" content={metaDescription} />
    <meta name="generator" content={Astro.generator} />
    <link rel="canonical" href="https://www.creative-tim.com/astro/" />
  </head>
  <body class="overflow-x-hidden">
    <slot />
  </body>
  <script
    src="https://kit.fontawesome.com/349ee9c857.js"
    crossorigin="anonymous"
  ></script>
</html>
<style is:global>
  code {
    font-family: Menlo, Monaco, Lucida Console, Liberation Mono,
      DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
  }
</style>
